<!DOCTYPE html>{% load cms_tags menu_tags sekizai_tags static i18n %}{% spaceless %}
    <html lang="{{ LANGUAGE_CODE }}">
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% block meta %}
        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{% page_attribute "page_title" %}"/>
        <meta property="og:description" content="{% page_attribute meta_description %}"/>
    {% endblock meta %}
    {% block canonical_url %}
        <link rel="canonical" href="{{ request.build_absolute_uri }}"/>

        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    {% endblock canonical_url %}
    {% block fb_meta %}{% endblock fb_meta %}
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block base_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
{% endspaceless %}{% render_block 'css' %}{% spaceless %}
    {% block page_head %}
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    </head>
    <body {% block body_attrs %}{% endblock %}>
{% endspaceless %}{% cms_toolbar %}{% spaceless %}
    {% block navbar %}
        <nav class="navbar {% block navbar_options %}navbar-expand-lg navbar-light bg-light{% endblock %}">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">{% block brand %}NOW Areawide IPM Program{% endblock %}</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% block menubar %}{% show_menu 0 100 0 100 'menu/menu.html' %}{% endblock %}</ul>
                    {% block searchbar %}{% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <div id="content" class="row justify-content-center">
            {% block content %}
                <div class="col-3 align-left">
                   <div class="pt-4">
                    <i id="search-icon" class="fas fa-search"></i>
                    <input  id="user-input" placeholder="Search">
                </div>
                </div>

                {# artist-list section #}
                <div id="replaceable-content" class="col-9">
                    {% placeholder "Content" %}
                    {% include 'test.html' %}
                </div>

            {% endblock content %}
        </div>
    </div>
    {% block base_js %}
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    {% endblock %}
{% endspaceless %}{% render_block 'js' %}{% spaceless %}

    {% block end_js %}{% endblock %}
    {% block bottom_css %}{% endblock %}
    </body>
    </html>{% endspaceless %}